<h1 id="page-name"><%= t('About') %></h1>
<div class="container">
  <ul class="nav nav-tabs" id="about-pill">
    <li class="active" ><a href="#menu1"><%= t('vision') %></a></li>
    <li><a href="#menu2"><%= t('mission') %></a></li>
    <li><a href="#menu3"><%= t('faith') %></a></li>
  </ul>

  <div class="tab-content" id="about-pres">
    <div id="menu1" class="tab-pane fade in active">
      <h1><%= t('vision') %></h1>
      <p><%= t('vision-content') %></p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h1><%= t('mission') %></h1>
      <p><%= t('mission-content') %></p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h1><%= t('faith') %></h1>
      <p><%= t('faith-content') %></p>
    </div>
  </div>
</div>