<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      
      <div class="modal-header text-uppercase">
        <button type="button" class="close" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
        <h4 class="modal-title">Languages</h4>
      </div>
      
      <div class="modal-body">
      <div class="row">
      <div class="col-xs-12 col-sm-4">
      <p>EUROPE</p>
      <ul>
      <li>
<%= link_to('HUNGARY', {locale: :hu}, {:class => 'flag-hu'}) %></li>
<li>
<%= link_to('UNITED KINGDOM', {locale: :en}, {:class => 'flag-en'}) %></li>
<li>
<%= link_to('DEUTSCHLAND', {locale: :de}, {:class => 'flag-de'}) %></li>
<li>
<%= link_to('FRANCE', {locale: :fr}, {:class => 'flag-en'}) %></li>
 </ul>
          </div>
          <div class="col-xs-12 col-sm-4">
          <p>OTHERS</p>
      <ul>
<li>
<%= link_to('РОССИЯ', {locale: :ru}, {:class => 'flag-en'}) %></li>
<li>
<%= link_to('ALBANIA', {locale: :al}, {:class => 'flag-en'}) %></li>
<li>
<%= link_to('ISRAEL', {locale: :il}, {:class => 'flag-en'}) %></li>
</ul>
      </div>
          </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>