<nav class="navbar navbar-default navbar-fixed-top" id="full-navbar">
<div class="container-fluid container" id="custom-navbar">
<div class="navbar-header">
<button type="button" class="navbar-toggle rotate2" data-toggle="collapse" data-target="#myNavbar">
      </button>
       <a class="navbar-brand"></a>
       </div>
	<div class="collapse navbar-collapse navbar-right" id="myNavbar">
	<ul class="nav navbar-nav">
		<li  id="navbar-box"><%= link_to t(:Homepage), root_path %></li>
		<li  id="navbar-box"><%= link_to t(:About), about_path %></li>
		<li  id="navbar-box"><%= link_to t(:Gallery), gallery_path %></li>
		<li  id="navbar-box"><%= link_to t(:Contact), contact_path %></li>
		<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Language<span class="caret"></span></a>
		<ul class="dropdown-menu">
                  <li>
                  <p >
<%= link_to('HU', {locale: :hu}, {:class => 'flag-hu'}) %>
|
<%= link_to('EN', {locale: :en}, {:class => 'flag-en'}) %>
|
<%= link_to('DE', {locale: :de}, {:class => 'flag-de'}) %>
|
<%= link_to('FR', {locale: :fr}, {:class => 'flag-en'}) %>
|
<%= link_to('RU', {locale: :ru}, {:class => 'flag-en'}) %>
|
<%= link_to('AL', {locale: :al}, {:class => 'flag-en'}) %>
|
<%= link_to('IL', {locale: :il}, {:class => 'flag-en'}) %>
					</p>
					</li>
    </ul>
	<li>
	</div>
</div>
</nav>